<template>
  <div id="app">
    <header class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top flex flex-stretch">
        <div class="container flex flex-stretch">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img data-altlogo="http://about.dose.com/wp-content/uploads/2016/05/Dose_Logo_WP_Header.png" src="http://about.dose.com/wp-content/uploads/2016/05/Dose_Logo_WP_Header.png" alt="DOSE"></a>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Finding what you want on Dose is easy...</h1>
          <ol class="list-group text-left">
            <li>
              Click "Get started" below.
            </li>
            <li>
              Ensure you have enabled your microphone.
            </li>
            <li>
              Say "Dose, show me ...", where ... is any tag you would like to search for.
            </li>
          </ol>
          <div class="alert alert-danger" v-if="isError">
            Oops! Looks like we misunderstood you. Can you try again?
          </div>
          <div class="alert alert-success" v-if="tag && !isAborted">
            <h3 class="spc-zero-t text-center">"{{ tag }}"</h3>
            <h3 class="spc-zero">
            Excellent choice! Please wait while I show you some awesome stuff.
            </h3>
            <div class="text-center">
              <a class="btn btn-danger btn-lg" href="#" @click.prevent="abortMission">No no no stop!</a>
            </div>
          </div>
          <h3 v-if="isAborted">Phew! That was close. You would have had to clear your browser history if that went through.</h3>
          <button class="btn btn-success btn-lg" @click.prevent="stopStream" v-if="listening">
            Listening <i class="fa fa-microphone"></i></button>
          <button class="btn btn-primary btn-lg" @click.prevent="startStream" v-else>
            Get started <i class="fa fa-microphone"></i></button>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { ApiAiClient, ApiAiStreamClient } from 'api-ai-javascript'

const client = new ApiAiClient({
  accessToken: '3979b7dff46d49ad84b19d2245dee308',
  streamClientClass: ApiAiStreamClient
})

export default {
  name: 'app',

  data () {
    return {
      streamClient: null,
      listening: false,
      isError: false,
      tag: '',
      redirecting: null,
      isAborted: false
    }
  },

  methods: {
    abortMission () {
      clearTimeout(this.redirecting)
      this.isAborted = true
    },

    resetFields() {
      this.isError = false
      this.isAborted = false
      this.tag = ''
    },

    startStream () {
      this.resetFields()

      // Close any active streams.
      if (this.streamClient) {
        this.closeStream()
      }

      this.streamClient = client.createStreamClient({
        onInit: () => {
          this.streamClient.open()
        },
        onOpen: () => {
          this.streamClient.startListening()

          setTimeout(() => {
            this.stopStream()
          }, 4000)
        },
        onStartListening: () => {
          this.listening = true
        },
        onStopListening: () => {
          this.listening = false
        },
        onResults: (arg) => {
          const action = arg && arg.result && arg.result.action && arg.result.action
          const params = arg && arg.result && arg.result.parameters
          
          // The whole phrase, "Dose, show me ..." has to match before taking action.
          if (action
              && action === 'web.search'
              && params['search-engine'] && params.showme && params.tag) {
            this.tag = params.tag

            this.redirecting = setTimeout(() => {
              window.location.href = `https://dose.com/tagged/${this.tag}`
            }, 4000)
          }
          else {
            this.isError = true
          }
          
          this.stopStream()
        },
        onError: (code, message) => {
          this.closeStream()
          this.isError = true
        }
      })

      this.streamClient.init()
    },

    stopStream() {
      if (this.streamClient && this.listening) {
        this.streamClient.stopListening()
      }
    },

    closeStream () {
      if (this.streamClient) {
        if (this.listening) {
          this.streamClient.stopListening()
        }
        this.streamClient.close()
        this.streamClient = null
      }
    }
  }
}
</script>

<style lang="scss">
html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  margin-top: 60px;
  background: #1f1f1f;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.navbar {
  min-height: 90px;
}

.flex {
  display: flex;
}

.flex-stretch {
  align-items: stretch;
}

.center-self {
  align-self: center;
}

.spc-b {
  margin-bottom: 40px;
}

.spc-zero {
  margin: 0;
}

.spc-zero-t {
  margin-top: 0;
}

.list-group > li {
  display: list-item;
}
</style>
